# Calculation2D file ignore list

# Visual Studio mud

*.[ip]db
*.ilk
*.suo
*.ncb
*.pch
*.ipch
*.dep
*.exp
*.res
*.aps
*.sdf
*.opensdf
*.lastbuildstate
*.user

*.tl[hi]
*.log
*.tlog
*.manifest
/proj/*/Debug
/proj/*/Release
/proj/*/x64
/plugins/*/Debug
/plugins/*/Release
/plugins/*/x64


# Visual Studio build output

*.obj
*.exe
*.dll
*.lib

# archives and history files

*.rar
*.old

# EXCEPT specific stuff

!node.exe
!libcalc2dmath.lib

!root.vcxproj.user
!calc2d.vcxproj.user
!C2DPluginSample.vcxproj.user