	<div>
		<div style='display:inline-block;float:right;'>
			<a href='#'><img id='finalize_btn' class='image_btn' src='img/famfamfam/icons/door_in.png'/></a>
		</div>
	</div>
	<fieldset>
		<legend>Input image</legend>

		<div style='display:inline-block;'>
			<div>
				<div style='display:inline-block;float:left;'>
					<select id='main_image_list' class='image-list'></select>
				</div>
				<div style='display:inline-block;float:right;'>
					<a href='#'><img id='load_btn' class='image_btn' src='img/famfamfam/icons/picture_add.png'/></a>
					<a href='#'><img id='save_btn' class='image_btn not-implemented' src='img/famfamfam/icons/picture_save.png'/></a>
				</div>
			</div>
			<canvas id='input_preview_canvas' width='480' height='320'></canvas>
		</div>
		
		<div>
			<input type='file' id='input_path'/>
		</div>
	</fieldset>

	<fieldset>
		<legend>Run calculation</legend>

		<div>
			<label for='available_methods'>Available calculation methods</label>
			<select id='available_methods'></select>
		</div>

		<div>
			<table id='method_details'>
				<tr><td class='label'>Name</td><td id='name' class='value'></td></tr>
				<tr><td class='label'>Author</td><td id='author' class='value'></td></tr>
				<tr><td class='label'>Description</td><td id='description' class='value'></td></tr>
				<tr><td class='label'>Input</td><td id='input_parameters' class='value'></td></tr>
				<tr><td class='label'>Output</td><td id='output_parameters' class='value'></td></tr>
			</table>
		</div>

		<div class='buttons'>
			<button id='get_methods'>Get methods</button>
			<button id='run_method'>Run method</button>
			<button id='get_status'>Get status</button>
		</div>
		<div class='buttons debug' style='margin-top: 20px'>
			<button id='test'>Proc. test</button>
			<button id='test2'>Image URL-encoding test</button>
		</div>
	</fieldset>