<html>
  <head>
    <title>Calculation2D</title>
		{{#jquery}}
			<script language='javascript' src='js/jquery-1.7.1.js'></script>
			{{#jqueryui}}
				<link rel="stylesheet" type="text/css" href="css/smoothness/jquery-ui-1.8.16.custom.css" media="all"/>
				<script language='javascript' src='js/jquery-ui-1.8.16.custom.min.js'></script>
			{{/jqueryui}}
		{{/jquery}}
		{{%IMPLICIT-ITERATOR}}{{#styles}}
			<link rel="stylesheet" type="text/css" href="css/{{.}}.css"/>
		{{/styles}}
		{{%IMPLICIT-ITERATOR}}{{#headers}}{{{.}}}{{/headers}}
		<script language='javascript' src='js/client.js'></script>
	</head>
	<body>
		<div id='top-panel'>
			<div id='title'>Calculation2D</div>
			<div id='sub-title'>An extensible image processing framework.</div>
		</div>
		<div id='content'>
			{{{body}}}
		</div>
	</body>
</html>
